<footer class="main-footer background-black documentation-footer">
  <div class="container-footer">
    <div class="flex-row top vert-top">
      <nav>
        <ul class="main-nav flex-row">
          <li class="col main-nav-nested">
            <ul class="">
              <li class="main-nav-item"><a href="/">Home</a></li>
              <li class="main-nav-item"><a href="/learn">Learn</a></li>
              <li class="main-nav-item"><a href="/community">Community</a></li>
            </ul>
          </li>
          <li class="col main-nav-nested">
            <ul class="">
              <li class="main-nav-item"><a href="/resources">Resources</a></li>
              <li class="main-nav-item"><a href="/services">Services</a></li>
            </ul>
          </li>
          <li class="col social-nav main-nav-nested">
            <ul class="">
              <li class="main-nav-item"><a href="/contact" class="icon-email">Email</a></li>
              <li class="main-nav-item"><a href="https://github.com/ManifoldScholar" class="icon-github" target="_blank">Github</a></li>
              <li class="main-nav-item"><a href="https://twitter.com/manifoldscholar" class="icon-twitter" target="_blank">Twitter</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <a href="/" class="main-logo">
        <div class="manifold-logo">
          <svg id="footer-logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.4736 16.15255">
            <title>manifold-logo</title>
            <g class="parallelogram">
              <polygon points="15.473 16.153 0.001 10.198 0.001 0 15.473 5.955 15.473 16.153" fill="#52e3ac"/>
            </g>
            <g class="complete"><polygon points="15.471 5.145 14.286 5.52 12.479 4.822 15.471 3.875 15.471 2.867 11.043 4.268 9.235 3.569 15.471 1.597 15.471 0.588 7.8 3.015 0 0.003 0.02 6.485 7.256 4.196 7.256 5.466 0.02 7.755 0.02 8.764 7.256 6.474 7.256 7.744 0.02 10.034 0.02 11.042 7.256 8.753 7.256 10.023 0.02 12.312 0.02 13.321 7.256 11.031 7.256 12.301 0.02 14.591 0.02 15.599 7.731 13.16 15.474 16.15 15.471 5.145" fill="#52e3ac"/>
            </g>
            <g class="mask-1">
              <polygon data-name="white-mask-1" points="0 15.697 7.773 13.174 7.773 2.976 0 5.5 0 15.697" fill="#363636"/>
            </g>
            <g class="mask-2">
              <polygon data-name="white-mask-2" points="15.473 0 0.007 0 15.473 5.953 15.473 0" fill="#363636"/>
            </g>
          </svg>
        </div>
        <span>Manifold</span>
      </a>
    </div>
    <div>
    </div>
    <div class="colophon">
      ©2018 Manifold.
    </div>
  </div>
</footer>
