<header class="main-header documentation-header">
    <div class="container-header">
        <div class="flex-row vert-centered">
            <a href="/docs" class="main-logo">
              <div class="manifold-logo {{ animated ? 'animated' : '' }}">
                <svg id="header-logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.4736 16.15255">
                  <title>manifold-logo</title>
                  <g class="parallelogram">
                    <polygon points="15.473 16.153 0.001 10.198 0.001 0 15.473 5.955 15.473 16.153" fill="#52e3ac"/>
                  </g>
                  <g class="complete"><polygon points="15.471 5.145 14.286 5.52 12.479 4.822 15.471 3.875 15.471 2.867 11.043 4.268 9.235 3.569 15.471 1.597 15.471 0.588 7.8 3.015 0 0.003 0.02 6.485 7.256 4.196 7.256 5.466 0.02 7.755 0.02 8.764 7.256 6.474 7.256 7.744 0.02 10.034 0.02 11.042 7.256 8.753 7.256 10.023 0.02 12.312 0.02 13.321 7.256 11.031 7.256 12.301 0.02 14.591 0.02 15.599 7.731 13.16 15.474 16.15 15.471 5.145" fill="#52e3ac"/>
                  </g>
                  <g class="mask-1">
                    <polygon data-name="white-mask-1" points="0 15.697 7.773 13.174 7.773 2.976 0 5.5 0 15.697" fill="#fff"/>
                  </g>
                  <g class="mask-2">
                    <polygon data-name="white-mask-2" points="15.473 0 0.007 0 15.473 5.953 15.473 0" fill="#fff"/>
                  </g>
                </svg>
              </div>
              <span>Manifold</span>
            </a>
            <nav class="flex-row vert-centered">
                <ul class="main-nav flex-row vert-centered desktop-only">
                    <li class="main-nav-item "><a href="https://manifoldapp.org/learn">Learn</a></li>
                    <li class="main-nav-item "><a href="https://manifoldapp.org/community">Community</a></li>
                    <li class="main-nav-item "><a href="https://manifoldapp.org/resources">Resources</a></li>
                    <li class="main-nav-item "><a href="https://manifoldapp.org/services">Services</a></li>
                    <li class="nav-item "><a href="https://manifoldapp.org/get-started" class="button primary">Get Started</a></li>
                </ul>
                <div class="main-nav mobile-only">
                    <span class="hamburger-toggle hamburger-opener" data-hamburger-toggle="hamburger">Menu</span>
                    <div class="hamburger-menu" data-hamburger-togglable="hamburger">
                        <div class="container-header">
                            <div class="flex-row vert-centered">
                                <a href="/" class="main-logo">
                                    <div class="manifold-logo animated" data-scroll-target="header-logo">
                                        <svg id="header-logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.4736 16.15255">
                                            <title>manifold-logo</title>
                                            <g class="parallelogram">
                                                <polygon points="15.473 16.153 0.001 10.198 0.001 0 15.473 5.955 15.473 16.153" fill="#ffffff"></polygon>
                                            </g>
                                            <g class="complete"><polygon points="15.471 5.145 14.286 5.52 12.479 4.822 15.471 3.875 15.471 2.867 11.043 4.268 9.235 3.569 15.471 1.597 15.471 0.588 7.8 3.015 0 0.003 0.02 6.485 7.256 4.196 7.256 5.466 0.02 7.755 0.02 8.764 7.256 6.474 7.256 7.744 0.02 10.034 0.02 11.042 7.256 8.753 7.256 10.023 0.02 12.312 0.02 13.321 7.256 11.031 7.256 12.301 0.02 14.591 0.02 15.599 7.731 13.16 15.474 16.15 15.471 5.145" fill="#ffffff"></polygon>
                                            </g>
                                            <g class="mask-1">
                                                <polygon data-name="white-mask-1" points="0 15.697 7.773 13.174 7.773 2.976 0 5.5 0 15.697" fill="#52e3ac"></polygon>
                                            </g>
                                            <g class="mask-2">
                                                <polygon data-name="white-mask-2" points="15.473 0 0.007 0 15.473 5.953 15.473 0" fill="#52e3ac"></polygon>
                                            </g>
                                        </svg>
                                    </div>          <span>Manifold</span>
                                </a>
                                <span class="hamburger-toggle hamburger-closer" data-hamburger-toggle="hamburger">Close</span>
                            </div>
                        </div>
                        <ul class="mobile-main-nav">
                            <li class="mobile-main-nav-item active"><a href="/">Home</a></li>
                            <li class="mobile-main-nav-item "><a href="https://manifoldapp.org/learn">Learn</a></li>
                            <li class="mobile-main-nav-item "><a href="https://manifoldapp.org/community">Community</a></li>
                            <li class="mobile-main-nav-item "><a href="https://manifoldapp.org/resources">Resources</a></li>
                            <li class="mobile-main-nav-item "><a href="https://manifoldapp.org/services">Services</a></li>
                            <li class="mobile-main-nav-item "><a href="https://manifoldapp.org/get-started">Get Started</a></li>
                            <!-- <li class="mobile-main-nav-item "><a href="/search" class="search-link">Search</a></li> -->
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
