.main-footer {
  &.documentation-footer {
    z-index: 1;
  }

  .top {
    margin-bottom: 80px;

    @include respond($break50) {
      flex-direction: column-reverse;
      margin-bottom: 40px;
    }
  }

  .main-logo {
    font-size: 22px;
    color: $white;

    @include respond($break20) {
      font-size: 17px;
    }

    &::before {
      margin-right: 20px;
      font-size: 40px;

      @include respond($break20) {
        font-size: 30px;
      }
    }

    &:hover {
      color: $gray04;
    }
  }

  .search-input {
    @include doubleBox;
    @include iconPre($magnify);
    display: inline-block;
    padding-left: 10px;

    @include respond($break20) {
      width: 100%;
    }

    &::before {
      margin-bottom: 1px;
      font-size: 17px;
      color: $gray05;
    }

    input {
      @include fontCopy;
      padding: 8px 6px;
      font-size: 18px;
      color: $white;
      background-color: $gray07;
      border: 0;

      @include respond($break20) {
        font-size: 16px;
      }

      &::placeholder {
        color: $white;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .colophon {
    margin-top: 56px;
    font-size: 14px;
    color: $gray03;
    letter-spacing: 0.015em;

    @include respond($break20) {
      font-size: 12px;
    }

    @include respond($break50) {
      margin-top: 40px;
    }

    a {
      text-decoration: underline;

      &:hover {
        color: $accentPrimary;
      }
    }
  }
}

