.main-footer {
  .main-nav {
    @include listUnstyled;

    @include respond($break50) {
      margin-top: 40px;
    }

    .main-nav-nested {
      + .main-nav-nested {
        margin-left: 67px;

        @include respond($break20) {
          margin-left: 40px;
        }
      }

      ul {
        @include listUnstyled;
      }

      .main-nav-item {
        + .main-nav-item {
          margin-top: 12px;
        }
      }
    }

    a {
      @include navSecondary;
      font-size: 16px;
      color: $white;
      text-decoration: none;

      &:hover {
        color: $accentPrimary;
      }

      @include respond($break20) {
        font-size: 14px;
      }

      &.icon-github::before {
        font-size: 14px;
      }
    }
  }
}
