.main-header {
  .main-nav {
    @include listHorizontal;

    &.desktop-only {
      @include respond($break60) {
        display: none;
      }
    }

    &.mobile-only {
      display: none;

      @include respond($break60) {
        display: block;
      }
    }

    .main-nav-item {
      + .main-nav-item, + .nav-item {
        margin-left: 30px;
      }

      &.active {
        a {
          color: $accentPrimary;
        }
      }

      a {
        @include navPrimary;
        color: $gray07;
        text-decoration: none;
        vertical-align: middle;

        &:hover {
          color: $accentPrimary;

          &::before {
            color: $accentPrimary;
          }
        }
      }
    }

    .nav-item {
      &.active {
        a {
          font-weight: $medium;
          background-color: $accentPrimary;
        }
      }

      .button {
        padding-right: 14px;
        padding-left: 14px;
      }
    }

    .search-link {
      &::before {
        color: $gray06;
        transition: color $timing $duration;
      }

      &:hover {
        &::before {
          color: $accentPrimary;
        }
      }
    }
  }
}
