// Fonts
// -----

// Do your @font-face embedding here, in the privacy of your own partial

// Mixins
// --------------------------

@mixin fontCopy {
  font-family: 'freight-text-pro', serif;
}

@mixin fontTechnical {
  font-family: 'courier', serif;
}

@mixin fontHead {
  font-family: 'sofia-pro', sans-serif;
}
