<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  <body>
      <!-- Site Header, Nav -->
      {% include header.html %}
      <!-- Main page content -->
      <main>
        <div style="width: 0; height: 0; visibility: hidden;"></div>
        <section class="background-white docs-container">
          <div class="container-main docs">
            <div class="flex-row">
              <aside class="docs-sidebar" data-sidebar data-hamburger-togglable="sidebar">
                <div class="sidebar-toggle" data-hamburger-toggle="sidebar">
                  <i class="caret" data-sidebar-toggle-marker>
                  </i>
                </div>
                <div class="menu-wrapper" data-sidebar-menu>
                  {% assign menu = site.menus.main %}
                  <ul>
                    {% include navigation.html %}
                  </ul>
                </div>
              </aside>
              <div class="docs-main" data-image-modals>
                <div>
                  {{ content }}
                </div>
                <!--
                <div class="documentation-pagination" data-documentation-pagination="documentation">
                  {% if page.previous.url %}
                  <a href="{{page.previous.url}}" class="pager page-left ">
                    <span class="icon"></span>
                    <span>{{page.previous.title}}</span>
                  </a>
                  {% endif %}
                  {% if page.next.url %}
                  <a href="{{page.next.url}}" class="pager page-right ">
                    <span>{{page.next.title}}</span>
                    <span class="icon"></span>
                  </a>
                  {% endif %}
                </div>
                -->
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Footer navigation, colophon -->
      {% include footer.html %}
  </body>
</html>
