.documentation-breadcrumb {
  padding-top: 8px;
  padding-bottom: 44px;

  .breadcrumb-link {
    @include fontHead;
    font-size: 15px;
    font-weight: $medium;
    color: $gray04;
    text-decoration: none;

    &.active, &:hover {
      color: $accentSecondary;
    }

    + .breadcrumb-link {
      @include iconPre('/');
      margin-left: 6px;

      &::before {
        padding-right: 9px;
        color: $gray04;
      }
    }
  }
}
